body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #111;
      color: white;
    }
header {
      background-color: #d62828;
      padding: 15px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
header h1 {
      margin: 0;
      font-size: 24px;
    }
.movie-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 30px;
      padding: 30px;
    }
.movie-card {
      background-color: white;
      color: black;
      border-radius:60px;
      overflow:hidden;
text-align: center;
padding-bottom:130px;
}
.movie-card img {
width: 100%;
height: 250px;
object-fit: cover;
}
.movie-title {
padding: 10px;
font-weight: bold;
}